#info_table{
	text-align: center;
	display: table-cell;
	border-style: solid;
	border-width: thick;
	margin-right:  auto;
	padding-bottom: 5px;
}

.sub_div{
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	padding-bottom: 10px;
	border-style: solid;
	border-width: thick;
}
#beatmode_info{
	font-weight: bold;
}
#boot_info{
	font-weight: bold;
}
#timer_table{
	text-align: center;
	
	display: block;
	border-style: solid;
	border-width: thick;
	margin-right:  auto;
	margin-bottom: 10px;
}
#error_table{
	background-color: red;
	display:block;
	border-style: solid;
	border-width: thick;
	margin-right:  auto;
}
#content{
	width:80%;
	border-spacing: 10px;
	border-collapse: separate;
	padding: 10px;
	display: table;
}
body{
    background-color: rgb(214, 214, 214);
}

/*slider*/
.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 50%; /* Full-width */
    height: 5px; /* Specified height */
    background: black; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: blue; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: blue; /* Green background */
    cursor: pointer; /* Cursor on hover */
}